{{define "content"}}
    <form method="post">
        <div class="field">
            <label for="email" class="label">Email</label>
            <div class="control">
                <input type="email" name="email" placeholder="email" class="input" value="{{.Data.Email}}" required>
            </div>
        </div>
        <div class="field">
            <label for="password" class="label">Password</label>
            <div class="control">
                <input type="password" name="password" placeholder="*******" class="input" required>
            </div>
        </div>
        <div class="field is-grouped">
            <p class="control">
                <button class="button is-primary">Log in</button>
            </p>
            <p class="control">
                <a href="{{call .Reverse "home"}}" class="button is-light">Cancel</a>
            </p>
        </div>
        {{template "csrf" .}}
    </form>
    <div class="content is-small">
        <a href="{{call .Reverse "register"}}">Create an account</a> -
        <a href="{{call .Reverse "forgot_password"}}">Forgot password</a>
    </div>
{{end}}
