{{define "metatags"}}
    <title>{{ .AppName }}{{ if .Title }} | {{ .Title }}{{ end }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {{- if .MetaTags.Description}}
        <meta name="description" content="{{.Metatags.Description}}">
    {{- end}}
    {{- if .MetaTags.Keywords}}
        <meta name="keywords" content="{{.Metatags.Keywords | join ", "}}">
    {{- end}}
{{end}}

{{define "css"}}
    <link rel="stylesheet" href="/public/style.css">
{{end}}

{{define "js"}}
    <script src="//unpkg.com/alpinejs" defer></script>
{{end}}